<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a [routerLink]="['']" class="navbar-brand" href="#">{{title}}</a>
    <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarColor01" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link active" href="#">Products
            <span class="visually-hidden">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
