<div class="row border-bottom">
  <nav class="navbar navbar-static-top bg-dark" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header ml-4 mt-2">
      <a [routerLink]="['']" class="navbar-brand text-white font-bold">{{title}}</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a [routerLink]="['/products']" class="text-white font-weight-bold m-r-lg">Products</a>
      </li>
      <li *ngIf="!user">
        <a [routerLink]="['/login']">
          <i class="fa fa-sign-out"></i> Login
        </a>
      </li>
      <li *ngIf="user">
        <a (click)="logout()">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </nav>
</div>
