<table *ngIf="products.length !== 0" class="table table-striped">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Store</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td><img alt="{{product.name | titlecase}}" src="{{product.image}}" style="max-height: 50px;"></td>
    <td>{{product.name | titlecase}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td [ngSwitch]="product.available">
      <span *ngSwitchCase="true" class="label label-primary">Enable</span>
      <span *ngSwitchCase="false" class="label label-danger">Disabled</span>
    </td>
    <td>{{product.store}}</td>
    <td>
      <a [routerLink]="['/products', product?.uid]"
         class="btn btn-dark btn-xs m-1" data-placement="bottom" data-toggle="tooltip"
         title="Product's Details"> Detail</a>
      <span>
        <a [routerLink]="['/products',product?.uid, 'edit']"
           class="btn btn-success btn-xs text-white m-0" data-placement="bottom" data-toggle="tooltip"
           title="Modify product"> Edit</a>
      </span>
    </td>
  </tr>
  </tbody>
</table>

<table *ngIf="products.length == 0" class="table table-striped">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Store</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
